{% extends 'template.html.twig' %}
{% block title %}Contact{% endblock %}
{% block pageContent %}
    <section>
        <div class="section-header flex-column mx-auto">
            <h2 class="dce-text-dark dce-bg-light text-center underlined">Contact</h2>
        </div>
        <div class="single-article dce-bg-dark dce-text-light offset-1 col-md-10">
            <article class="d-flex flex-row">
                <div class="article-content col-12 col-md-6">
                    {{ form_start(form, {'attr': {'id' : 'contact-form', 'class': 'dce-form'}}) }}
                    <h3 class="dce-text-dark text-center">Formulaire de contact</h3>
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
                <div class="col-md-6">
                    <img src="https://picsum.photos/600/600/?random" alt="image" class="img-fluid img-responsive">
                </div>
            </article>
        </div>
    </section>
{% endblock %}