<html>
<head>
    <meta charset="UTF-8">

</head>
<body>

<h3>Nous avons bien reçu votre message !</h3>

Bonjour {{ datas.firstname|capitalize }}, votre message a bien été envoyé,

nous vous répondrons dans les plus brefs délais.

Merci pour votre confiance.

La team DCE

<a href="www.danceconceptevent.com"><img width="200px" height="200px" src="{{ absolute_url(asset('build/images/dce.9342630e.png')) }}"></a>
</body>

</html>
